/* Import Inter Font from Google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

html {
  scroll-behavior: smooth; /* This makes the nav links scroll nicely */
}

body {
  margin: 0;
  padding: 0;
  background-color: #020617; /* Matches your theme */
  font-family: 'Inter', sans-serif;
}